* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#header-part {
  width: 100%;
}

.header-container {
  width: 100%;
  height: 100vh;
  /* Make the container full screen */
  position: relative;
  /* Allow absolute positioning within it */
}

.header-img {
  width: 100%;
  height: 100%;
  position: relative;
  /* Allow the text container to be positioned within it */
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the entire container */
}

.text-container {
  position: absolute;
  top: 50%;
  right: 230px;
  /* Adjust right margin as needed */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50%;
}

.banner-heading {
  width: 525px;
  color: #fff;
  text-align: right;
  font-family: "Work Sans";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-txt {
  width: 494px;
  color: #2b0233;
  text-align: right;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.header-btn {
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: black !important;
  color: aqua;
}

/* ***-------------------Body section added--------------------*** */

#body-section {
  padding-top: 60px;
  padding-bottom: 70px;
  /* background-color: #4ab410; */
  background: linear-gradient(
    to right,
    rgb(5, 58, 156),
    rgb(255, 240, 34),
    rgb(27, 194, 18)
  );
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.body-container h2 {
  color: var(--Dark-01, #021c79);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.body-container p {
  width: 416px;
  color: var(--Dark-02, #353434);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600px;
  line-height: 25px;
}

.body-txt {
  padding-top: 25px;
  padding-bottom: 18px;
}

.cartoon-img {
  width: 550px;
  height: 580px;
  image-resolution: 1080px;
}

.li-line {
  display: flex;
  gap: 5px;
}

/* ****-------------My Plans--------------*** */

#plans {
  padding-top: 80px;
  padding-bottom: 100px;
}

.plans-container {
  max-width: 1440px;
  margin: 0 auto;
}

.my-plans {
  padding-bottom: 60px;
  color: var(--Dark-01, #151414);
  text-align: center;
  font-family: "Work Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plans-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.img {
  padding-bottom: 15px;
}

.plans-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.plans-content h3 {
  color: (--Dark-01, #151414);
  text-align: center;
  font-family: "Work Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plans-content p {
  color: var(--Dark-03, #737272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ***-------------Positive Mindset section---------------------*** */

.borders {
  border: 1px solid red;
}

#positive-mind {
  padding-top: 80px;
  padding-bottom: 100px;
}

.positive-mind-container {
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  /* padding-top: 60px;
    padding-left: 50px; */
  background-image: url(./images/watch.png);
}

.up_gradient_bg {
  border-radius: 8px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.positive-mind-container,
h2 {
  color: #ffffff;
  font-family: "Work Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ***--------------Footer section ----------------*** */

#future {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

.future-main-container {
  padding-top: 130px;
  padding-bottom: 130px;
  /* width: 1600px; */
  height: 577px;
  background: var(--Dark-01, #151414);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 330px;
}

/* ***------future part-------*** */

.future-part {
}

.future-part h2 {
  color: #f8f8f8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.future-part p {
  padding-top: 16px;
  padding-bottom: 24px;
  width: 485px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.email {
  color: #68fa0c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.phone {
  padding-top: 16px;
  padding-bottom: 32px;
  color: #fff;
  color: #68fa0c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.social-logo {
  display: flex;
  justify-content: space-between;
  width: 175px;
  height: 46px;
  cursor: pointer;
}

/* ***-----Subscribe part-----*** */

.subscribe-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe-part h3 {
  padding-bottom: 30px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subscribe-part input {
  padding-top: 16px;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
  width: 325px;
  height: 64px;
  border-color: #68fa0c;
  border-radius: 5px;
  background: var(--Dark-01, #202020ca);
  color: #68fa0c;
}

.email-inner {
  padding-left: 10px;
  padding-bottom: 12px;
}
